__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
pyrightconfig.json
*~
/build/
/dist/
/casino.sublime-project
/casino.sublime-workspace
/casino/*.html
/ranvar/*.html

casino/random.c
casino/core.c
casino.egg-info/*
casino/*.c
ranvar/*.c
ranvar.egg-info/*
output.csv
docs/old/*
docs/ranlib/*
#build.py#
